.blog-post-title {
    width: 300px;
    text-align: center;
    padding-bottom: 100px;
}

.blog-post-image-holder {
    height: 320px;
    width: 18%;
    box-shadow: 2px 4px 12px -3px rgba(0,0,0,0.4);
}

.blog-post-card {
    padding: 25px;
    height: 250px;
    width: 30%;
    background: #ffffff;
    z-index: 7;
    margin-left: -90px;
    box-shadow: 2px 4px 12px -3px rgba(0,0,0,0.4);
}

.blog-post-card h1 {
    font-size: $default-font-size * 1.5;
}

.blog-post-image {
    background-image: url("../images/blog-post-1.jpg");
    background-size: cover;
    background-position: center;
}

.blog-post-image-2 {
    background-image: url("../images/blog-post-2.jpg");
    background-size: cover;
    background-position: center;
}