.btn {
	padding: 13px 48px;
	color: #ffffff;
	border-radius: 22px;
	text-decoration: none;
	margin: 10px 0;
	transition: all 0.2s ease-in-out;
	
	&:hover {
		background-color: #212121;
	}
}

.btn-cta {
	border: 2px solid #ffffff;
}

.btn-coral {
	background: lightcoral;

}