.logo-holder {
    height: 100px;
    width: 25%;
}

.comp-1 {
    background-image: url("../images/comp-1.png");
    background-repeat: no-repeat;
    background-position: center;
}

.comp-2 {
    background-image: url("../images/comp-2.png");
    background-repeat: no-repeat;
    background-position: center;
}

.comp-3 {
    background-image: url("../images/comp-3.png");
    background-repeat: no-repeat;
    background-position: center;
}

.comp-4 {
    background-image: url("../images/comp-4.png");
    background-repeat: no-repeat;
    background-position: center;
}