.hero-image {
    background-image: url("http://via.placeholder.com/1600x400");
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}